#mmless_buf_id {
  width: 100%;
  display: block;
}

.mm_0main_i
{    
  width: 100%;
  color: #555;
  float: left;  
  font-size: 33px;     
  border-color: black;
  border: 1px solid;        
  display: block;  
}

.mm_1divctrl_i{    
  width: 100%; 
  color: #555;
  float: left;  
  font-size: 33px;     
  border-color: black;
  border: 1px solid;        
  display: block;  
}

.mm_but1_i {
  padding-left: 25px;
  height: 50px;
  width: 150px;
  color: rgb(15, 14, 14);
  font-weight: bold;     
  font-size: 22px;    
  float: right;    
  cursor: pointer;    
  line-height: 20px;  
  background-color: rgb(192, 192, 192); 
  transition: 0.3s;
  user-select: none; 
/*   border-color: black;
  border: 2px solid;      */ 
}

.mm_but2_i {
  padding-left: 25px;
  margin-right: 7px;
  height: 50px;
  width: 150px;
  color: rgb(15, 14, 14);
  font-weight: bold;     
  font-size: 22px;    
  float: right;    
  cursor: pointer;    
  line-height: 20px;  
  background-color: rgb(108, 203, 123); 
  transition: 0.3s;
  user-select: none; 
/*   border-color: black;
  border: 2px solid;      */ 
}

.mm_but3_i {
  padding-left: 25px;
  margin-right: 7px;
  height: 50px;
  width: 150px;
  color: rgb(15, 14, 14);
  font-weight: bold;     
  font-size: 22px;    
  float: right;    
  cursor: pointer;    
  line-height: 20px;  
  background-color: rgb(108, 203, 123); 
  transition: 0.3s;
  user-select: none; 
/*   border-color: black;
  border: 2px solid;      */ 
}



.mm_div1_i{    
  width: 100%;
  height: 320px;
  color: rgb(197, 197, 197);
  float: left;  
  font-size: 33px;   
  cursor: pointer;
  border-color: black;
  border: 1px solid;    
  background-color: rgb(255, 199, 30);   
/*  border-radius: 20px;    */
  display: none;  
}

.mm_0foot_i{    
  width: 100%;
  color: #555;
  float: left;  
  font-size: 33px;     
  border-color: black;
  border: 2px solid;        
  background-color: rgb(79, 98, 113); 
  display: block;  
}

.mmbuttctrl {  
  height: 40px;
  color: #ffffff;
  float: left;
  text-align: center;  
  font-size: 33px;
  margin-top: 20px;
  margin-bottom: 20px;  
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;    
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;  
  border-color: #f7f7f7;
  background-color:#555555;
  user-select: none; 
  cursor: pointer;
  border: 2px solid;  
  display: inline;
}


.mm_div2_i{    
    width: 100%;    
    color: rgb(197, 197, 197);
    float: left;  
    font-size: 33px;   
    cursor: pointer;
    border-color: black;
    border: 1px solid;    
    background-color: rgb(255, 199, 30);   
  /*  border-radius: 20px;    */
    display: none;  
  }

.mm_div3_i{    
    width: 100%;    
    color: rgb(197, 197, 197);
    float: left;  
    font-size: 33px;   
    cursor: pointer;
    border-color: black;
    border: 1px solid;    
    background-color: rgb(255, 199, 30);   
  /*  border-radius: 20px;    */
    display: none;  
}

  

.mmless_item {  
  height: 55px;
  width: 100%;
  color: #ffffff;
  float: left;
  text-align: left;  
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;  
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;    
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;  
  border-color: #f7f7f7;
  background-color:#555555;
  user-select: none; 
  cursor: pointer;
  border: 2px solid;  
  display: inline;
}

.sent_select_ok {
    height: 70px;
    color: #ffffff;
    float: left;
    position: fixed;
    text-align: center;
    font-size: 33px;
    margin-top: 20px;
    margin-bottom: 20px;  
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;  
    border-color: #f7f7f7;
    background-color:#16b131;
    user-select: none; 
    cursor: pointer;
    border: 2px solid;  
    display: inline;
  }
  

